$breakpoints: (
  phone: 400px,
  phone-wide: 480px,
  phablet: 560px,
  tablet-small: 640px,
  tablet: 768px,
  tablet-wide: 1024px,
  desktop: 1248px,
  dektop-wide: 1440px
);

$bg-150: hsl(212, 17%, 15%);
$bg-170: hsl(212, 18%, 17%);
$bg-190: hsl(212, 18%, 19%);

$text-gray: hsl(211, 19%, 70%);
$text-white: hsl(0, 0%, 100%);

$blue: hsl(198, 95%, 63%);
